// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  background-color: white;
  margin:auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  display: flex;
  background-color: white;
  color: lightgrey;
  padding: 20px 50px;
  justify-content: space-between;
  border-bottom: solid 2px lightgrey;
}

.navbar a:visited {
  color:lightgrey;
}

.navbar a:hover {
  color: black;
  font-weight: bold;
}


a {
  text-decoration: none;
  color: aqua;
}

a:visited {
  color: blue;
}

a:hover {
  color: aqua;
}

 .btn {
   padding: 8px 16px;
   background-color: yellowgreen;
   color: black;
 }

 .footer {
   display: flex;
   justify-content: space-evenly;
 }
